@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}